<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
  <display-name>UploadServletApp</display-name>
  <welcome-file-list>
  	<welcome-file>login.html</welcome-file>
  </welcome-file-list>
 
  <context-param>
  	<param-name>dbURL</param-name>
  	<param-value>jdbc:mysql://localhost/mysql_db</param-value>
  </context-param>
  <context-param>
  	<param-name>dbUser</param-name>
  	<param-value>mysql_user</param-value>
  </context-param>
  <context-param>
  	<param-name>dbUserPwd</param-name>
  	<param-value>mysql_pwd</param-value>
  </context-param>
  
  <servlet>
  	<description></description>
  	<display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>net.codejava.upload.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>net.codejava.upload.Servlet1</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>net.codejava.upload.Servlet2</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Servlet3</display-name>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>net.codejava.upload.Servlet3</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>This servlet sends file to client</description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>net.codejava.DownloadFileServlet</servlet-class>
</servlet>
 
<servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
</servlet-mapping>  
</web-app>